<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h3>Edit Listing Details</h3>
            <form action="/listings/<%= listing._id %>?_method=put" method="post">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>"><br>
                </div>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="listing[description]"><%= listing.description %></textarea><br>
                </div>
                <div>
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" class="form-control" name="listing[image][url]" value="<%= listing.image.url %>"><br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>"><br>
                    </div>
                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>"><br>
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>"><br>
                </div>
                <button class="btn btn-dark add-btn mb-3">Edit</button>
            </form>
        </div>
    </div>
</body>
